<div class="card">
    <div class="card-header">
        <h5>Editando despesa</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="titulo" value="{{despesa.titulo}}"
                        aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Valor</label>
                    <input type="text" class="form-control" name="valor" id="valor" value="{{despesa.valor}}"
                        aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
            </div>
        </div>
    </div>
</div>