<div class="card">
    <div class="card-header">
        <h5>Últimas despesas cadastradas</h5>
    </div>
    <div class="card-body">
        {{filtro}}
        <div>
            <input type="text" class="form-control" placeholder="Pesquise pelo titulo"
                (keyup)="filtro = $event.target.value">
        </div>

        <div class="alert alert-info mt-2 mb-2" *ngIf="!despesas.length">
            Nada encontrado
        </div>

        <table class="table table-striped table-bordered mt-2 mb-2">
            <thead>
                <tr>
                    <th width="160px"></th>
                    <th>Valor</th>
                    <th>Inicia em</th>
                    <th>Cadastrada em</th>
                    <th>Título</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let despesa of despesas">
                    <td>
                        <button type="button" class="btn btn-danger btn-sm">
                            Remover
                        </button>
                        <a href="/despesa/editar/{{despesa.id}}" class="btn btn-primary btn-sm ml-2">
                            Editar
                        </a>
                    </td>
                    <td>{{despesa.valorFormatado}}</td>
                    <td>{{despesa.dataInicioFormatada}}</td>
                    <td>{{despesa.dataCadastroFormatada}}</td>
                    <td>
                        {{despesa.titulo}} - {{despesa.descritivo}}
                    </td>
                </tr>
            </tbody>
        </table>

        <a routerLink="['']" class="btn btn-primary btn-sm">
            Cadastrar
        </a>
    </div>
</div>